# spell-checker: disable
# Python packaging files
__pycache__
dist/
build/
venv/
src/*.egg-info
.vscode/
# Vim swap file
**/*.sw?
# Debian packaging files
debian/*.ex 
debian/clitheme
debian/.debhelper
debian/files
debian/*.debhelper.log
.pybuild/
# Arch Linux packaging files
buildtmp/
srctmp/
*.pkg.tar.zst
.DS_Store