# Sample gitignore file to make your life easier (>^ω^<)
__pycache__
__pycache__/*
dist
dist/*
build
build/*
venv
venv/*
src/*.egg-info
.vscode
.vscode/*
# Vim swap file
**/*.sw?
# excluded files (ex)
debian/*.ex 
debian/clitheme
debian/.debhelper
debian/files
debian/*.debhelper.log
.pybuild
.pybuild/*
# for building Arch Linux package
buildtmp
buildtmp/*
srctmp
srctmp/*
*.pkg.tar.zst
.DS_Store