Source: clitheme
Section: libs
Priority: optional
Maintainer: swiftycode <3291929745@qq.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), python3, dh-python, python3-setuptools, pybuild-plugin-pyproject
Standards-Version: 4.6.2
Homepage: https://gitee.com/swiftycode/clitheme
Vcs-Git: https://gitee.com/swiftycode/clitheme.git

Package: clitheme
Architecture: all
Multi-Arch: foreign
Depends: python3 (> 3.8), man-db, sqlite3
Description: Command-line application customization utility
 CLItheme allows users to customize the output of command-line programs and
 manual pages. This package contains clitheme, clitheme-exec, and clitheme-man
 utilities.
 .
 For more information, visit the homepage and the pages in the Wiki section.
