Source: clitheme
Section: libs
Priority: optional
Maintainer: swiftycode <3291929745@qq.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), python3, dh-python, python3-hatchling
Standards-Version: 4.6.2
Homepage: https://gitee.com/swiftycode/clitheme
Vcs-Git: https://gitee.com/swiftycode/clitheme.git

Package: clitheme
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, python3 (> 3.7)
Description: Application framework for text theming
 clitheme allows users to customize the output of supported programs, such as
 multi-language support or mimicing your favorite cartoon character. It has an
 easy-to-understand syntax and implementation module for programs. 
 .
 For more information, visit the homepage and the pages in the Wiki section.
